@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&family=Roboto+Mono:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* || VARIABLES */
:root {
    /* FONTS */
    --FF: 'Roboto Mono';

    /* COLORS */
    --HEADER-COLOR: #000;

    /* STANDARD PADDING */
    --PADDING-SIDE: 100px;
    --PADDING-TB: 30px;
}

html {
    font-family: var(--FF);
    
}

body {
    position: relative;
    
    overflow: hidden;
}

/* || HEADER */
.header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--PADDING-TB)  var(--PADDING-SIDE);
    
}


.header__ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 3rem;
    
    
}

a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--HEADER-COLOR);
}

.header img {
    width: 80px;
    height: 80px;
}

/* || MAIN */

.main__article {
    display: flex;
}
.main__section1 {
    /* width: 45rem; */
    width: 48%;
    height: 480px;
    padding: 80px var(--PADDING-SIDE) 0px var(--PADDING-SIDE);
}

.main__p1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -2px;
    word-spacing: -0.5rem;
    color: #000;
}

.p__span {
    font-weight: 800;
    color: #00704A;
    font-family: 'poppins';
    font-size: 4rem;
}

.main__p2 {
    color: #000;
    font-weight: bold;
    line-height: 1.5rem;
    font-size: 1rem;
}

.button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #00704A;
    border-radius: 20px;
    color: #FFF;
    font-weight: bold;
    border: none;
}

.main__section2 {
    height: 480px;
    width: 36%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 215px;
}


.green_starbucks {
    background-image: url(/img/green-starbucks.png);
    width: 320px;
    height: 480px;
    background-size: 320px 480px;
    background-repeat: no-repeat;
}
.pink_starbucks {
    background-image: url(/img/pink-starbucks.png);
    width: 320px;
    height: 480px;
    background-size: 250px 480px;
    background-repeat: no-repeat;
    margin-left: 50px;
}
.caramel_starbucks {
    background-image: url(/img/caramel-starbucks.png);
    width: 320px;
    height: 480px;
    background-size: 350px 460px;
    background-repeat: no-repeat;
}

.circle {
    position: fixed;
    height: 80rem;
    width: 80rem;
    border-radius: 50%;
    background-color: #00704A;
    bottom: 0;
    right: 0;
    transform: translate(48%, 58%);
    z-index: -1;
}

.main__section3 {
    width: 16%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: end;
    gap: 20px;
    padding-right: 20px;
}

.main__section3 div {
    cursor: pointer;
}

.main__menu_article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.main__menu_article div {
    margin-top: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.main__menu_article div:hover {
    transition-duration: 0.5s;
    transform: translateY(-15px);
}


.green_cup img {
    width: 50px;
    height: 75px;
}
.pink_cup img {
    width: 40px;
    height: 75px;
}
.caramel_cup img {
    width: 60px;
    height: 70px;
}